@import '../../../../variables.scss';

.popupWindow {
  height: 100vh;
  width: 100vw;
  background-color: map-get($LM, bgPopUp);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  user-select: none;
}

.popupWindow.popupWindowActive {
  pointer-events: all;
  opacity: 1;
}

.popupWindowContent {
  position: relative;
  border-radius: 1%;
  background-color: map-get($LM, bgPopUpContent);
  height: 60vh;
  min-height: 600px;
  width: 40vw;
  min-width: 350px;
}
