.authMenuRegister {
  display: flex;
  color: white;
  padding-bottom: 2vh;
}

.authMenuRegister h2 {
  transition: all 0.2s ease-in-out;
  user-select: none;
  flex: 1;
  text-align: center;
  border-radius: 6px;
  line-height: 10vh;
  background-color: #1877f2;
}

.authMenuRegister h2:hover {
  background-color: #f26b6b;
  color: white;
  cursor: pointer;
}

.registerActive h2:first-child {
  background-color: white;
  color: black;
}
.loginActive h2:nth-child(2) {
  background-color: white;
  color: black;
}
